Proyectos/P1/MovieSummaries/character.metadata.tsv
Proyectos/P1/MovieSummaries/movie.metadata.tsv
Proyectos/P1/MovieSummaries/name.clusters.txt
Proyectos/P1/MovieSummaries/plot_summaries.txt
Proyectos/P1/MovieSummaries/README.txt
Proyectos/P1/MovieSummaries/tvtropes.clusters.txt
